body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3ecec;
}

.container {
  display: flex;
  height: 100vh;
}

.calculator {
  width: 400px;
  height: 600px;
  border: 1px solid #000;
  background-color: #ccc;
  margin: auto auto;
  border-radius: 5px;
}

.calculator-screen {
  display: flex;
  margin: auto;
  margin-top: 20px;
  height: 65px;
  width: 85%;
  background-color: white;
  border-radius: 5px;
  font-size: 25px;
  padding: 7px 0 0 7px;
}

.calculator-button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  margin: 40px 30px;
}

.number {
  width: 80px;
  height: 80px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px;
}

.operator {
  width: 80px;
  height: 80px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px;
}

#plus {
  background-color: #7c93df;
  box-shadow: 2px 2px 4px;
}

#minus {
  background-color: #f08080;
  box-shadow: 2px 2px 4px;
}

#multiply {
  background-color: #ffa500;
  box-shadow: 2px 2px 4px;
}
#divide {
  background-color: #20b1a9;
}
.number:hover {
  cursor: pointer;
}

.operator:hover {
  cursor: pointer;
}

.clear-button:hover {
  cursor: pointer;
}

button > #equal {
  width: 320px;
}

#clear {
  background-color: red;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 4px;
}
